:root {
 
  --color-fondo: #F7F7F7;
  --color-verde: #2E8B57;
  --color-amarillo: #FFD700;
  --color-cafe: #8B4513;
  --color-texto-oscuro: #333333;
  --color-texto-claro: #666666;
  --color-blanco: #FFFFFF;

 
  --fuente-titulos: 'Playfair Display', serif;
  --fuente-cuerpo: 'Montserrat', sans-serif;
}


*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: var(--fuente-cuerpo);
  color: var(--color-texto-oscuro);
  background-color: var(--color-fondo);
  line-height: 1.6;

}

h1, h2, h3 {
  font-family: var(--fuente-titulos);
  color: var(--color-cafe);
}

a {
  text-decoration: none;
  color: inherit;

}

ul {
  list-style: none;

}

img {
  max-width: 100%;
  display: block;

}